<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <style>
            .headStyle{
                font-family: times, Times New Roman, times-roman, georgia, serif;
                font-size: 48px;
                line-height: 40px;
                letter-spacing: -1px;
                color: #444;
                margin: 0 0 0 0;
                padding: 0 0 0 0;
                font-weight: 100;
            }
        </style>
        <h1 class="headStyle">Dashboard</h1>
    </head>
    <hr>
    <body>
        <div id="app"></div>
    </body>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/babel" src="{{url_for('static', filename='templates/dashboard.js')}}"></script>
</html>
